{% extends "base.html" %}
{% block body %}

<style>
    container {
        margin: 500ex;
    }
</style>


<div class="media comment">
    <img src="static/image/icon.png" class="img-avatar mr-3" alt="author image" width="100" height="100">
    <div class="media-body">
        <div class="media-body-header">
            <h6 class="comment-author">国立大学出身</h6>
            <span class="comment-date text-muted">7 days ago</span>
            <a class="comment-reply" href="#">Reply</a>
            <a class="comment-share" href="#">Share</a>
        </div>
        【就活で気をつけたポイント】4月から活動していました。ポートフォーリオ大事
    </div>
</div>


年表がここに入るイメージ？
{% endblock %}